<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Home")">
                <span class="menu-title">Kombi Master Anasayfa</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("NewFaultReports","Admin")">
                <span class="menu-title">Yeni Arıza Kayıtları</span>
               
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ActiveWorks","Admin")">
                <span class="menu-title">Aktif İşler</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ComplateWorks","Admin")">
                <span class="menu-title">Tamamlanan İşler</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("UserList","Admin")">
                <span class="menu-title">Kullanıcılar</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
    </ul>
    <div class="sidebar-progress">
        <p>Toplam Üye Sayısı</p>
        <div class="progress progress-sm">
            <div class="progress-bar bg-gradient-success" role="progressbar" style="width: @Html.Raw(KombiTeknikServisWeb.Controllers.AdminController.yuzdeUyeSayisi)%" aria-valuenow="@Html.Raw(KombiTeknikServisWeb.Controllers.AdminController.yuzdeUyeSayisi)" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p>@Html.Raw(KombiTeknikServisWeb.Controllers.AdminController.uyeSayisi) toplam üye</p>
    </div>
    <div class="sidebar-progress">
        <p>Aktif Arıza Sayısı</p>
        <div class="progress progress-sm">
            <div class="progress-bar bg-gradient-success" role="progressbar" style="width:@Html.Raw(KombiTeknikServisWeb.Controllers.AdminController.yuzdeAktifAriza)%" aria-valuenow="@Html.Raw(KombiTeknikServisWeb.Controllers.AdminController.yuzdeAktifAriza)" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p>@Html.Raw(KombiTeknikServisWeb.Controllers.AdminController.aktifArizaSayisi) aktif arıza</p>
    </div>
    <div class="sidebar-progress">
        <p>Tamamlanan Arıza Sayısı</p>
        <div class="progress progress-sm">
            <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: @Html.Raw(KombiTeknikServisWeb.Controllers.AdminController.yuzdeTamamlananAriza)%" aria-valuenow="@Html.Raw(KombiTeknikServisWeb.Controllers.AdminController.yuzdeTamamlananAriza)" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p>@Html.Raw(KombiTeknikServisWeb.Controllers.AdminController.cozulenArizaSayisi) arıza tamamlandı</p>
    </div>
</nav>