@model Entity.ViewModels.MailModel
<section class="md-section md-skin-dark js-consult-form" style="background-image:url('../../assets/img/backgrounds/1.jpg');">
    <div class="md-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">

                <!-- title-01 -->
                <div class="title-01 title-01__style-02">
                    <h2 class="title-01__title">Email ile Bize Ulaşın</h2>
                    <div>Sed ante nisl, fermentum et facilisis in, maximus </div>
                </div><!-- End / title-01 -->

                <div class="consult-phone">(+90) 507 118 93 55</div>
            </div>
        </div>

        <!-- form-01 -->
        <div class="form-01 consult-form js-consult-form__content">
            <h2 class="form-01__title">Bize geri bildirim verin</h2>
            @using (Html.BeginForm("SendKombiMail", "Home", FormMethod.Post, new { @class = "form-01__form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form__item form__item--03">
                    @Html.TextBoxFor(x => x.GonderenAdı, new { type = "text", name = "name", placeholder = "Adınız" })
                </div>
                <div class="form__item form__item--03">
                    @Html.TextBoxFor(x => x.Telefon, new { type = "text", name = "phone", placeholder = "Telefon Numaranız" })
                </div>
                <div class="form__item form__item--03">
                    @Html.TextBoxFor(x => x.MailAdresi, new { type = "email", name = "email", placeholder = "Email Adresiniz" })
                </div>
                <div class="form__item">
                    @Html.TextAreaFor(x => x.Message, new { type = "textarea", rows = "3", name = "Your message", placeholder = "Mesajınız" })
                </div>
                <div class="form__button">
                    <button type="submit" class="btn btn-primary btn-w180">
                        mesaj gönder
                    </button>
                </div>
            }
        </div><!-- End / form-01 -->

    </div>
</section>