<section class="md-section" style="background-color:#f7f7f7;padding:0;">
    <div class="container">
        <div class="textbox-group">
            <div class="row">
                <div class="col-md-4 col-lg-4 ">

                    <!-- textbox -->
                    <div class="textbox">
                        <div class="textbox__image"><a href="@Url.Action("FaultReport","Home")"><img src="~/assets/img/services/bildir.jpg" alt="" /></a></div>
                        <div class="textbox__body">
                            <h2 class="textbox__title"><a href="@Url.Action("FaultReport","Home")">Arıza Bildir</a></h2>
                            <div class="textbox__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet ut lacus a tincidunt. Quisque lu</div>
                        </div>
                    </div><!-- End / textbox -->

                </div>
                <div class="col-md-4 col-lg-4 ">

                    <!-- textbox -->
                    <div class="textbox">
                        <div class="textbox__image"><a href="@Url.Action("ComingSoon","Home")"><img src="~/assets/img/services/gigabit-vouchers-laptop.jpg" alt="" /></a></div>
                        <div class="textbox__body">
                            <h2 class="textbox__title"><a href="@Url.Action("ComingSoon","Home")">Arıza Takip</a></h2>
                            <div class="textbox__description">Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus ut pharetra dictum. </div>
                        </div>
                    </div><!-- End / textbox -->

                </div>
                <div class="col-md-4 col-lg-4 ">

                    <!-- textbox -->
                    <div class="textbox">
                        <div class="textbox__image"><a href="@Url.Action("ServiceAreas","Home")"><img src="~/assets/img/services/us-war-gaming-maps-promo.jpg" alt="" /></a></div>
                        <div class="textbox__body">
                            <h2 class="textbox__title"><a href="@Url.Action("ServiceAreas","Home")">Şubelerimiz</a></h2>
                            <div class="textbox__description">Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque. Sed rutrum ligula eu</div>
                        </div>
                    </div><!-- End / textbox -->

                </div>
            </div>
        </div>
    </div>
</section>