@model List<Entities.ViewModels.WorksViewModel>
@{
    ViewBag.Title = "ActiveWorks";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-lg-2"></div>
<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Aktif İşler Listesi</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Arıza ID
                        </th>
                        <th>
                            Teknisyen ID
                        </th>
                        <th>
                            Hata Çözüldü Mü?
                        </th>
                        <th>
                            Anket Gönder / İşi Tamamla
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Entities.ViewModels.WorksViewModel item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.FaultReportID</td>
                            <td>@item.TechnicionID</td>
                            <td>@item.FaultIsResolved</td>
                            <td><button class="btn btn-block btn-warning tamamla" name="@item.ID" type="button">İş Tamamlandı</button></td>  
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scriptTeknisyen{
    <script>
        $(function () {
            $(".tamamla").click(function () {
                var isId = this.name;
                window.location.href = '@Url.Action("ActiveWorksComplated", "Admin")' + "?isId=" + isId
            });
        })
</script>
}