@model Entities.ViewModels.FaultListViewModel
@{
    ViewBag.Title = "NewFaultReports";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-lg-2"></div>
<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Onaylanmamış Arıza Reporları Listesi</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Kullanıcı ID
                        </th>
                        <th>
                            Adres
                        </th>
                        <th>
                            Açıklama
                        </th>
                        <th>
                            X Lokasyonu
                        </th>
                        <th>
                            Y Lokasyonu
                        </th>
                        <th>
                            Rapor Oluşturma Tarihi
                        </th>
                        <th>
                            Teknisyen Ata
                        </th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Entities.Models.FaultReports item in Model.Arizalar)
                    {

                        <tr>
                            <td>@item.ID</td>
                            <td>@item.UserID</td>
                            <td>@item.Address</td>
                            <td>@item.Description</td>
                            <td>@item.LocationX</td>
                            <td>@item.LocationY</td>
                            <td>@item.FaultReportDate</td>
                            <td>
                                <select  id="tek_@(item.ID)" name="@item.ID">
                                    <option value="Seciniz">Seçiniz</option>
                                    @foreach (Entity.IdentityModels.ApplicationUser item1 in Model.Teknikerler)
                                    {
                                        <option value="@item1.Id">@item1.Name @item1.Surname</option>
                                    }
                                </select>
                            </td>
                            <td><button class="btn btn-block btn-warning onayla" name="@item.ID" type="button">Onayla</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scriptTeknisyen{
    <script>
        $(function () {
            $(".onayla").click(function () {
                var arizaId = this.name;
                var e = document.getElementById("tek_" + arizaId);
                if (e.options[e.selectedIndex].value != "Seciniz") {
                    var teknisyenId = e.options[e.selectedIndex].value;
                }
                window.location.href = '@Url.Action("NewFaultReportsTeknisyen", "Admin")' + "?arizaId=" + arizaId + "&teknisyenId=" + teknisyenId;
            });
        })
    </script>
}