@model List<Entity.ViewModels.ProfileViewModel>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{ 
    string a = "";
}
<div class="col-lg-2"></div>
<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kullanıcı Listesi</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Kullanıcı Adı
                        </th>
                        <th>
                            Adı Soyadı
                        </th>
                        <th>
                            Telefon Numarası
                        </th>
                        <th>
                            Mail Adresi
                        </th>
                        <th>
                            Uyelik Türü
                        </th>
                        <th>
                            Rol Değiştir
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (ProfileViewModel item in Model)
                    {
                        <tr>
                            <td>@item.Username</td>
                            <td>@(item.Name + " " + item.Surname)</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Email</td>
                            <td>@item.Role</td>
                            <td>
                                <select>
                                    <option value="@item.Role">@item.Role</option>
                                    @if (Entity.Enums.IdentityRoles.Admin.ToString() != item.Role)
                                    {
                                        a = "Admin";
                                        <option id="@a" value="Admin">Admin</option>
                                    }
                                    @if (Entity.Enums.IdentityRoles.Operator.ToString() != item.Role)
                                    {
                                        a = "Operator";
                                        <option id="@a" value="Operator">Operator</option>
                                    }
                                    @if (Entity.Enums.IdentityRoles.User.ToString() != item.Role)
                                    {
                                        a = "User";
                                        <option id="@a" value="User">User</option>
                                    }
                                </select>
                            </td>
                            <td><button name="@item.Username" id="btnKaydet" type="button">Kaydet</button></td>  
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section scriptTeknisyen{
<script>
        $("#btnKaydet").click(function () {
            var ProfilRol = @a;
            var profilUserName = this.name;
            window.location.href = '@Url.Action("UserList", "Admin")' + "?profilUserName=" + profilUserName + "&ProfilRol=" + ProfilRol;
        });
</script>
}