@model List<Entity.ViewModels.ProfileViewModel>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-lg-2"></div>
<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kullanıcı Listesi</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Kullanıcı Adı
                        </th>
                        <th>
                            Adı Soyadı
                        </th>
                        <th>
                            Telefon Numarası
                        </th>
                        <th>
                            Mail Adresi
                        </th>
                        <th>
                            Uyelik Türü
                        </th>
                        <th>
                            Rol Değiştir
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (ProfileViewModel item in Model)
                    {
                        <tr>
                            <td>@item.Username</td>
                            <td>@(item.Name + " " + item.Surname)</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Email</td>
                            <td>@item.Role</td>
                            <td>
                                @if (item.Role == "Technicians")
                                {
                                    <select id="rol_@item.Username" name="@item.Username">
                                        <option value="@item.Role">Teknisyen</option>
                                    </select>
                                }
                                else
                                {
                                    <select id="rol_@item.Username" name="@item.Username">
                                        <option value="@item.Role">@item.Role</option>
                                        @if (Entity.Enums.IdentityRoles.Admin.ToString() != item.Role)
                                        {
                                            <option id="Admin" value="Admin">Admin</option>
                                        }
                                        @if (Entity.Enums.IdentityRoles.Operator.ToString() != item.Role)
                                        {
                                            <option id="Operator" value="Operator">Operator</option>
                                        }
                                        @if (Entity.Enums.IdentityRoles.Technicians.ToString() != item.Role)
                                        {
                                            <option id="Technicians" value="Technicians">Teknisyen</option>
                                        }
                                        @if (Entity.Enums.IdentityRoles.User.ToString() != item.Role)
                                        {
                                            <option id="User" value="User">User</option>
                                        }
                                    </select>
                                }
                            </td>
                            <td><button name="@item.Username" class="btn btn-block btn-warning kaydet" type="button">Kaydet</button></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section scriptTeknisyen{
    <script>
        $(function () {
            $(".kaydet").click(function () {
                var profilUsername = this.name;
                var e = document.getElementById("rol_" + profilUsername);
                var ProfilRol = e.options[e.selectedIndex].value;
                window.location.href = '@Url.Action("UserListChange", "Admin")' + "?ProfilRol=" + ProfilRol + "&profilUsername=" + profilUsername;
            });
        })
    </script>
}